<h1><%= @stream.username %>さんの配信</h1>

<hr class="line">
<div class="row">
  <div class="video-frame" data-room-id="<%= @stream.room_id %>">
    <div id="remote"></div>
  </div>
  <div class="comment-wrapper">
    <div class="comment-title">コメント</div>
    <ul class="comment-list"></ul>
  </div>
</div>

<%= form_with method: :post do |form| %>
  <hr class="line">
  <div class="row">
    <%= form.hidden_field :profile_id, :value => current_user.profile.id %>
    <%= form.text_field :content, required: true, maxlength: "80", placeholder: "ここにコメントを入力", id: "comment-field", data: { username: current_user.profile.username } %>
    <%= form.submit "コメントを投稿", class: "button new-post-button a", id: "comment-button" %>
  </div>
<% end %>

<hr class="line small-screen">
<div class="comment-wrapper small-screen">
  <div class="comment-title">コメント</div>
  <ul class="comment-list"></ul>
</div>

<%= content_for :script do %>
  <%= javascript_import_module_tag "webrtc/viewer" %>
<% end %>