<div id="<%= dom_id post %>" class="card">
  <%= link_to post, class: "a" do %>
    <div class="card-background"></div>
  <% end %>
  <div class="post">
    <% if post.stream_id.blank? %>
      <!-- 標準の投稿-->
      <%= image_tag "user_icon.png" %>
      <div class="content">
        <div class="usernames">
          <span><%= post.profile.nickname %></span>
          <span>@<%= post.profile.username %></span>
        </div>
        <p><%= post.content %></p>
      </div>
    <% elsif post.is_comment %>
      <!-- 配信に対するコメントの投稿-->
      <%= image_tag "user_icon.png" %>
      <div class="content">
        <div class="usernames">
          <span><%= post.profile.nickname %></span>
          <span>@<%= post.profile.username %></span>
        </div>
        <p><%= post.content %><span class="to-comment"><%= post.stream.username %>さんへの配信コメント</span></p>
        <div class="post-stream-wrapper">
          <%= render 'stream_button', stream: post.stream %>
        </div>
      </div>
    <% else %>
      <!-- 配信を開始したときの投稿-->
      <%= image_tag "user_icon.png" %>
      <div class="content">
        <div class="usernames">
          <span><%= post.profile.nickname %></span>
          <span>@<%= post.profile.username %></span>
        </div>
        <p><%= post.content %></p>
        <div class="post-stream-wrapper">
          <%= render 'stream_button', stream: post.stream %>
        </div>
        <div class="post-stream-start"><%= post.stream.username %>さんが配信を開始しました！</div>
      </div>
    <% end %>
  </div>
</div>
