<div class="login-container">
  <% if user_signed_in? %>
    <%= link_to current_user.profile.username + 'さんのプロフィール', @user, method: :get, class: "login-button" %>
    <%#= link_to 'ログアウト', destroy_user_session_path, method: :get, class: "login-button" %>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path, class: "login-button" %>
  <% end %>
</div>

<div class="logo">NextPlay</div>

<div class="container">
  <div class="posts-container">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
  <div class="sidebar-container">
    <%= link_to "投稿する", new_post_path, class: "new-post-button a" %>
    <div class="card stream-container">
      <p>配信中のゲーム一覧</p>
      <% @streams.each do |stream| %>
        <div class="stream">
          <%= render 'stream_button', stream: stream %>
          <p>@<%= stream.username %> さんの配信</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

