<p style="color: green"><%= notice %></p>


<%= link_to posts_path do %>
  <i class="material-icons back">arrow_back</i>
<% end %>

<%= render @post %>

<div class="right">
  <%= link_to "編集する", edit_post_path(@post), class: "edit" %>
  <%= link_to "投稿を削除", @post, data: { turbo_method: :delete, turbo_confirm: "この投稿を削除しますか？" }, class: "delete" %>
</div>
